<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body id="extractor-page">
    <header>
        <img src="static/logo.png" alt="Logo">
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('extract') }}">Extract Data</a>
            <a href="{{ url_for('upload') }}">Upload Data</a>
            <a href="{{ url_for('report') }}">View Report</a>
        </nav>
    </header>

    <main>
        <form id="migrationForm">
            <h2>Tableau Data Extraction</h2>
            <label for="username">Tableau Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Tableau Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Start Extraction</button>
        </form>
    </main>

    <div id="loader-overlay">
        <div id="loader"></div>
    </div>

    <div id="popup-overlay">
        <div id="popup">
            <p id="popup-message"></p>
            <button onclick="closePopup()">OK</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>